<html>
    <head>
        <style>
            body{
                background-color:skyblue;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                color: white;
                padding: 30px;
            }
            h1{
                font-size: 48px;
                text-transform: uppercase;
                letter-spacing: 2px;
                text-align: center;
            }
            p{
                font-size: 16;
                text-align: center;
            }
        </style>
    </head>
    <body>
        <h1>
            This is my awesome attempt at improving myself.
        </h1>
        <p>
            And i think this kisks ass.
        </p>
    </body>
</html>